&.me-span--1 {
  width: 4.166666666666667%;
}

&.me-span--2 {
  width: 8.333333333333334%;
}

&.me-span--3 {
  width: 12.5%;
}

&.me-span--4 {
  width: 16.666666666666668%;
}

&.me-span--5 {
  width: 20.833333333333336%;
}

&.me-span--6 {
  width: 25%;
}

&.me-span--7 {
  width: 29.166666666666668%;
}

&.me-span--8 {
  width: 33.333333333333336%;
}

&.me-span--9 {
  width: 37.5%;
}

&.me-span--10 {
  width: 41.66666666666667%;
}

&.me-span--11 {
  width: 45.833333333333336%;
}

&.me-span--12 {
  width: 50%;
}

&.me-span--13 {
  width: 54.16666666666667%;
}

&.me-span--14 {
  width: 58.333333333333336%;
}

&.me-span--15 {
  width: 62.50000000000001%;
}

&.me-span--16 {
  width: 66.66666666666667%;
}

&.me-span--17 {
  width: 70.83333333333334%;
}

&.me-span--18 {
  width: 75%;
}

&.me-span--19 {
  width: 79.16666666666667%;
}

&.me-span--20 {
  width: 83.33333333333334%;
}

&.me-span--21 {
  width: 87.5%;
}

&.me-span--22 {
  width: 91.66666666666667%;
}

&.me-span--23 {
  width: 95.83333333333334%;
}

&.me-span--24 {
  width: 100%;
}

// offset
&.me-offset--1 {
  margin-left: 4.166666666666667%;
}

&.me-offset--2 {
  margin-left: 8.333333333333334%;
}

&.me-offset--3 {
  margin-left: 12.5%;
}

&.me-offset--4 {
  margin-left: 16.666666666666668%;
}

&.me-offset--5 {
  margin-left: 20.833333333333336%;
}

&.me-offset--6 {
  margin-left: 25%;
}

&.me-offset--7 {
  margin-left: 29.166666666666668%;
}

&.me-offset--8 {
  margin-left: 33.333333333333336%;
}

&.me-offset--9 {
  margin-left: 37.5%;
}

&.me-offset--10 {
  margin-left: 41.66666666666667%;
}

&.me-offset--11 {
  margin-left: 45.833333333333336%;
}

&.me-offset--12 {
  margin-left: 50%;
}

&.me-offset--13 {
  margin-left: 54.16666666666667%;
}

&.me-offset--14 {
  margin-left: 58.333333333333336%;
}

&.me-offset--15 {
  margin-left: 62.50000000000001%;
}

&.me-offset--16 {
  margin-left: 66.66666666666667%;
}

&.me-offset--17 {
  margin-left: 70.83333333333334%;
}

&.me-offset--18 {
  margin-left: 75%;
}

&.me-offset--19 {
  margin-left: 79.16666666666667%;
}

&.me-offset--20 {
  margin-left: 83.33333333333334%;
}

&.me-offset--21 {
  margin-left: 87.5%;
}

&.me-offset--22 {
  margin-left: 91.66666666666667%;
}

&.me-offset--23 {
  margin-left: 95.83333333333334%;
}

&.me-offset--24 {
  margin-left: 100%;
}