@media (min-width: 1200px) {
  .me-col {
    &.me-span-lg--1 {
      width: 4.166666666666667%;
    }

    &.me-span-lg--2 {
      width: 8.333333333333334%;
    }

    &.me-span-lg--3 {
      width: 12.5%;
    }

    &.me-span-lg--4 {
      width: 16.666666666666668%;
    }

    &.me-span-lg--5 {
      width: 20.833333333333336%;
    }

    &.me-span-lg--6 {
      width: 25%;
    }

    &.me-span-lg--7 {
      width: 29.166666666666668%;
    }

    &.me-span-lg--8 {
      width: 33.333333333333336%;
    }

    &.me-span-lg--9 {
      width: 37.5%;
    }

    &.me-span-lg--10 {
      width: 41.66666666666667%;
    }

    &.me-span-lg--11 {
      width: 45.833333333333336%;
    }

    &.me-span-lg--12 {
      width: 50%;
    }

    &.me-span-lg--13 {
      width: 54.16666666666667%;
    }

    &.me-span-lg--14 {
      width: 58.333333333333336%;
    }

    &.me-span-lg--15 {
      width: 62.50000000000001%;
    }

    &.me-span-lg--16 {
      width: 66.66666666666667%;
    }

    &.me-span-lg--17 {
      width: 70.83333333333334%;
    }

    &.me-span-lg--18 {
      width: 75%;
    }

    &.me-span-lg--19 {
      width: 79.16666666666667%;
    }

    &.me-span-lg--20 {
      width: 83.33333333333334%;
    }

    &.me-span-lg--21 {
      width: 87.5%;
    }

    &.me-span-lg--22 {
      width: 91.66666666666667%;
    }

    &.me-span-lg--23 {
      width: 95.83333333333334%;
    }

    &.me-span-lg--24 {
      width: 100%;
    }

    // offset
    &.me-offset-lg--1 {
      margin-left: 4.166666666666667%;
    }

    &.me-offset-lg--2 {
      margin-left: 8.333333333333334%;
    }

    &.me-offset-lg--3 {
      margin-left: 12.5%;
    }

    &.me-offset-lg--4 {
      margin-left: 16.666666666666668%;
    }

    &.me-offset-lg--5 {
      margin-left: 20.833333333333336%;
    }

    &.me-offset-lg--6 {
      margin-left: 25%;
    }

    &.me-offset-lg--7 {
      margin-left: 29.166666666666668%;
    }

    &.me-offset-lg--8 {
      margin-left: 33.333333333333336%;
    }

    &.me-offset-lg--9 {
      margin-left: 37.5%;
    }

    &.me-offset-lg--10 {
      margin-left: 41.66666666666667%;
    }

    &.me-offset-lg--11 {
      margin-left: 45.833333333333336%;
    }

    &.me-offset-lg--12 {
      margin-left: 50%;
    }

    &.me-offset-lg--13 {
      margin-left: 54.16666666666667%;
    }

    &.me-offset-lg--14 {
      margin-left: 58.333333333333336%;
    }

    &.me-offset-lg--15 {
      margin-left: 62.50000000000001%;
    }

    &.me-offset-lg--16 {
      margin-left: 66.66666666666667%;
    }

    &.me-offset-lg--17 {
      margin-left: 70.83333333333334%;
    }

    &.me-offset-lg--18 {
      margin-left: 75%;
    }

    &.me-offset-lg--19 {
      margin-left: 79.16666666666667%;
    }

    &.me-offset-lg--20 {
      margin-left: 83.33333333333334%;
    }

    &.me-offset-lg--21 {
      margin-left: 87.5%;
    }

    &.me-offset-lg--22 {
      margin-left: 91.66666666666667%;
    }

    &.me-offset-lg--23 {
      margin-left: 95.83333333333334%;
    }

    &.me-offset-lg--24 {
      margin-left: 100%;
    }
  }
}