@media (min-width: 768px) and (max-width: 991px) {
  .me-col {
    &.me-span-sm--1 {
      width: 4.166666666666667%;
    }

    &.me-span-sm--2 {
      width: 8.333333333333334%;
    }

    &.me-span-sm--3 {
      width: 12.5%;
    }

    &.me-span-sm--4 {
      width: 16.666666666666668%;
    }

    &.me-span-sm--5 {
      width: 20.833333333333336%;
    }

    &.me-span-sm--6 {
      width: 25%;
    }

    &.me-span-sm--7 {
      width: 29.166666666666668%;
    }

    &.me-span-sm--8 {
      width: 33.333333333333336%;
    }

    &.me-span-sm--9 {
      width: 37.5%;
    }

    &.me-span-sm--10 {
      width: 41.66666666666667%;
    }

    &.me-span-sm--11 {
      width: 45.833333333333336%;
    }

    &.me-span-sm--12 {
      width: 50%;
    }

    &.me-span-sm--13 {
      width: 54.16666666666667%;
    }

    &.me-span-sm--14 {
      width: 58.333333333333336%;
    }

    &.me-span-sm--15 {
      width: 62.50000000000001%;
    }

    &.me-span-sm--16 {
      width: 66.66666666666667%;
    }

    &.me-span-sm--17 {
      width: 70.83333333333334%;
    }

    &.me-span-sm--18 {
      width: 75%;
    }

    &.me-span-sm--19 {
      width: 79.16666666666667%;
    }

    &.me-span-sm--20 {
      width: 83.33333333333334%;
    }

    &.me-span-sm--21 {
      width: 87.5%;
    }

    &.me-span-sm--22 {
      width: 91.66666666666667%;
    }

    &.me-span-sm--23 {
      width: 95.83333333333334%;
    }

    &.me-span-sm--24 {
      width: 100%;
    }

    // offset
    &.me-offset-sm--1 {
      margin-left: 4.166666666666667%;
    }

    &.me-offset-sm--2 {
      margin-left: 8.333333333333334%;
    }

    &.me-offset-sm--3 {
      margin-left: 12.5%;
    }

    &.me-offset-sm--4 {
      margin-left: 16.666666666666668%;
    }

    &.me-offset-sm--5 {
      margin-left: 20.833333333333336%;
    }

    &.me-offset-sm--6 {
      margin-left: 25%;
    }

    &.me-offset-sm--7 {
      margin-left: 29.166666666666668%;
    }

    &.me-offset-sm--8 {
      margin-left: 33.333333333333336%;
    }

    &.me-offset-sm--9 {
      margin-left: 37.5%;
    }

    &.me-offset-sm--10 {
      margin-left: 41.66666666666667%;
    }

    &.me-offset-sm--11 {
      margin-left: 45.833333333333336%;
    }

    &.me-offset-sm--12 {
      margin-left: 50%;
    }

    &.me-offset-sm--13 {
      margin-left: 54.16666666666667%;
    }

    &.me-offset-sm--14 {
      margin-left: 58.333333333333336%;
    }

    &.me-offset-sm--15 {
      margin-left: 62.50000000000001%;
    }

    &.me-offset-sm--16 {
      margin-left: 66.66666666666667%;
    }

    &.me-offset-sm--17 {
      margin-left: 70.83333333333334%;
    }

    &.me-offset-sm--18 {
      margin-left: 75%;
    }

    &.me-offset-sm--19 {
      margin-left: 79.16666666666667%;
    }

    &.me-offset-sm--20 {
      margin-left: 83.33333333333334%;
    }

    &.me-offset-sm--21 {
      margin-left: 87.5%;
    }

    &.me-offset-sm--22 {
      margin-left: 91.66666666666667%;
    }

    &.me-offset-sm--23 {
      margin-left: 95.83333333333334%;
    }

    &.me-offset-sm--24 {
      margin-left: 100%;
    }
  }
}