@media (max-width: 767px) {
  .me-col {
    &.me-span-xs--0 {
      display: none;
    }

    &.me-span-xs--1 {
      width: 4.166666666666667%;
    }

    &.me-span-xs--2 {
      width: 8.333333333333334%;
    }

    &.me-span-xs--3 {
      width: 12.5%;
    }

    &.me-span-xs--4 {
      width: 16.666666666666668%;
    }

    &.me-span-xs--5 {
      width: 20.833333333333336%;
    }

    &.me-span-xs--6 {
      width: 25%;
    }

    &.me-span-xs--7 {
      width: 29.166666666666668%;
    }

    &.me-span-xs--8 {
      width: 33.333333333333336%;
    }

    &.me-span-xs--9 {
      width: 37.5%;
    }

    &.me-span-xs--10 {
      width: 41.66666666666667%;
    }

    &.me-span-xs--11 {
      width: 45.833333333333336%;
    }

    &.me-span-xs--12 {
      width: 50%;
    }

    &.me-span-xs--13 {
      width: 54.16666666666667%;
    }

    &.me-span-xs--14 {
      width: 58.333333333333336%;
    }

    &.me-span-xs--15 {
      width: 62.50000000000001%;
    }

    &.me-span-xs--16 {
      width: 66.66666666666667%;
    }

    &.me-span-xs--17 {
      width: 70.83333333333334%;
    }

    &.me-span-xs--18 {
      width: 75%;
    }

    &.me-span-xs--19 {
      width: 79.16666666666667%;
    }

    &.me-span-xs--20 {
      width: 83.33333333333334%;
    }

    &.me-span-xs--21 {
      width: 87.5%;
    }

    &.me-span-xs--22 {
      width: 91.66666666666667%;
    }

    &.me-span-xs--23 {
      width: 95.83333333333334%;
    }

    &.me-span-xs--24 {
      width: 100%;
    }

    // offset
    &.me-offset-xs--1 {
      margin-left: 4.166666666666667%;
    }

    &.me-offset-xs--2 {
      margin-left: 8.333333333333334%;
    }

    &.me-offset-xs--3 {
      margin-left: 12.5%;
    }

    &.me-offset-xs--4 {
      margin-left: 16.666666666666668%;
    }

    &.me-offset-xs--5 {
      margin-left: 20.833333333333336%;
    }

    &.me-offset-xs--6 {
      margin-left: 25%;
    }

    &.me-offset-xs--7 {
      margin-left: 29.166666666666668%;
    }

    &.me-offset-xs--8 {
      margin-left: 33.333333333333336%;
    }

    &.me-offset-xs--9 {
      margin-left: 37.5%;
    }

    &.me-offset-xs--10 {
      margin-left: 41.66666666666667%;
    }

    &.me-offset-xs--11 {
      margin-left: 45.833333333333336%;
    }

    &.me-offset-xs--12 {
      margin-left: 50%;
    }

    &.me-offset-xs--13 {
      margin-left: 54.16666666666667%;
    }

    &.me-offset-xs--14 {
      margin-left: 58.333333333333336%;
    }

    &.me-offset-xs--15 {
      margin-left: 62.50000000000001%;
    }

    &.me-offset-xs--16 {
      margin-left: 66.66666666666667%;
    }

    &.me-offset-xs--17 {
      margin-left: 70.83333333333334%;
    }

    &.me-offset-xs--18 {
      margin-left: 75%;
    }

    &.me-offset-xs--19 {
      margin-left: 79.16666666666667%;
    }

    &.me-offset-xs--20 {
      margin-left: 83.33333333333334%;
    }

    &.me-offset-xs--21 {
      margin-left: 87.5%;
    }

    &.me-offset-xs--22 {
      margin-left: 91.66666666666667%;
    }

    &.me-offset-xs--23 {
      margin-left: 95.83333333333334%;
    }

    &.me-offset-xs--24 {
      margin-left: 100%;
    }
  }
}